[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pytesseract = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
simplegmail = "*"

[dev-packages]

[requires]
python_version = "3.11"
